body {
  background-color: black;
  background-image: url(bg1.jpg);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
}

.instructions {
  margin-inline-start: 50px;
  margin-inline-end: 50px;
  margin-top: 90px;
}

p {
  
  font-size: 20px;
  font-family: calibri;
  letter-spacing: 3px;
  top: 2em;
}

.bar {
  display: flex;
  width: content;
  margin: 35px;
  height: 50px;
  border: 2px solid #1ca7ecbf;
  background-image: linear-gradient(to bottom right, #4adede, #1ca7ec);
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
  margin: 0px;
}

#circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vh;
  position: relative;
  margin-top: 10px;
  margin-left: 35%;
}

.circle {
  width: 25vh;
  height: 25vh;
  position: absolute;
  border-radius: 50%;
}

#one:before {
  content: "Play Now!";
}

#one {
  background-color: rgba(0, 0, 225, 0.45);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  transition: 1s;
}

#two {
  background-color: green;
  transition: 1s;
  opacity: 0.5;
}

#three {
  background-color: red;
  transition: 1s;
  opacity: 0.5;
}

#four {
  background-color: orange;
  transition: 1s;
  opacity: 0.5;
}
#five {
  background-color: green;
  transition: 1s;
  opacity: 0.5;
}

#cc {
  position: relative;
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  overflow: hidden;
}

#cc:hover #two {
  transform: translate(0px, 35px);
}
#cc:hover #three {
  transform: translate(0px, -35px);
}
#cc:hover #four {
  transform: translate(35px, 0px);
}
#cc:hover #five {
  transform: translate(-35px, 0px);
}

#mb {
  position: absolute;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #3b3a6d;
  color: white;
}

#mb a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
}

#mb p {
  padding: 5px;
  margin: 0px;
}

body {
  margin: 0;
  text-align: center;
  background-color: #1a1919;
}

.placeholder {
  display: inline-block;
  width: 800px;
  height: 600px;
  box-sizing: border-box;
  margin-top: 40px;
  position: relative;
}

.column,
.blind,
.blindImg {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
}

.blind {
  overflow: hidden;
}

.blindImg {
  width: 100%;
  background-size: cover;
}
