* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  background-image: url("./images/bg1.png");
  background-size:35%;
  background-repeat: no-repeat;
  background-position: 75%;
  background-position-y:95% ;
  padding: 20px;
  display: block;
  /* margin-top: 20%; */
}

#main{
    
    max-width: 500px;
    margin-top:7%;
    margin-left: 5%;
    padding: 20px;
    background-color:black;
    display:inline-block;
    justify-content: center;

  border: 4px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 
}

h2 {
  font-weight: bold; 
  font-size: 45px;
  color:black;
  
}


/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04aa52;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 1.5em;
}

#login_btn {
  background-color: #04aa52;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none;
}

#login_btn:hover {
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar1 {
  width: 100%;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding-bottom: 65px;
  padding-left: 25px;
  padding-right: 25px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
    
  }
  .cancelbtn,.signupbtn  {
    width: 100%;
  }
  h2 {
      float:left;
      width:50%;
  }
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* The Modal (background) */
.modal2 {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;

}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}