body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  background: url("bg_1.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 30px;
  transform-style: preserve-3d;
  perspective: 1000px;

}

@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.js-tilt-glare {
  border-radius: 18px;
}

.card-image1 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("Quiz.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
  background-position: 0%;
}

.card-image2 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("RPS.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
  background-position: 0%;
}

.card-image3 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("TOH.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: gray;
  font-size: 14px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html, body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

/* body {
  background: #8A2387;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  position: relative;
  text-align: center;
} */

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  left: 95%;
  letter-spacing: 1.5px;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

button::before,
button::after {
  background-color: white;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

button::before {
  top: 0;
  transform: rotate(45deg);
}

button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

button:hover {
  color: #8A2387;
}

button:hover::before,
button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}



