body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  background: url("bg_1.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: justify;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 30px;
  transform-style: preserve-3d;
  perspective: 1000px;

}

@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.js-tilt-glare {
  border-radius: 18px;
}

.card-image1 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("Quiz.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
  background-position: 0%;
}

.card-image2 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("RPS.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size:cover;
  background-position: 0%;
}

.card-image3 {
  grid-area: image;
  background: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url("card1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: gray;
  font-size: 14px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}



